@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-background-index{
  /* background: ; */
}
.logo{
  height: 60px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 0px;
}
.navbar, .navbar-expand-md, .navbar-light, .bg-light{
  padding: 0px;
}
.navbar{
  height: 30px;
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

.main-layout-container{
  background-color: rgba(0,0,0,0.1);
  padding-top: 60px;
  padding-bottom: 10px;
  min-height: 100vh;
}
.container{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.ant-form-item, .ant-row{
  margin-bottom: 5px !important;
}